body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Initial background color */
}

.container {
  text-align: center;
}

h1 {
  font-family: Arial, sans-serif;
  color: #333;
}
